div{
  
  
  top:0px;
  width: 250px;
  left:0px;
 
  height:550px;
  right:500px;
float: left;
  }
section{
  
   width: 750px;

  top:0px;
 height:550px;

  float: left;

}
li:hover{border-style:outset;
border-radius: 15px;
width:100px;}


